.comment::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 1px;
  border-radius: 4px;
  height: 100%;
  @apply bg-neutral-300;
}

.comment:last-child::before {
  height: 19px;
}

.comment-heading::before {
  content: "";
  position: absolute;
  top: 13.5px;
  left: 9.5px;
  width: 1px;
  height: 10px;
  border-radius: 4px;
  transform: rotate(90deg);
  @apply bg-neutral-300;
}
